.breadcrumbs {
	margin-top: 15px;
	ul {
		display: flex;
		flex-flow: row nowrap;
		margin-bottom: 15px;
		padding-left: 5%;
	}
	a {
		text-decoration: none;
		color: $text-colour;
	}
	li {
		list-style-type: none;
		font-family: $secondary-heading-font;
		font-size: 1em;
		margin-left: 5px;
	}
	.active {
		color: $secondary-brown;
		text-decoration: underline;
	}
}
