.btn-style {
	border: $button-border;
	border-width: 2px;
	text-align: center;
	border-radius: 30px;
	background: url("/images/brown-leather.png");
	text-decoration: none;
	color: $beige-text;
	padding: 12px;
	display: block;
	margin: 0 auto;
	font-family: $primary-heading-font;
	font-weight: 100;
	max-width: 350px;
}

.form-btn {
	background: url("/images/brown-leather.png");
	font-family: $primary-heading-font;
	font-weight: 100;
	border: $button-border;
	border-width: 2px;
	padding: 10px;
	color: $beige-text;
	font-size: 1em;
}

.hero-background {
	a {
		@extend .btn-style;
		width: 50vw;
		max-width: 300px;
		box-shadow: 0px 7.5px 15px #000;
	}
}

// carousel button
.carousel-nav {
	.next,
	.previous {
		border: none;
		background-color: $primary-brown;
		opacity: 0.8;
		padding: 10px 10px;
	}
	.next {
		border-radius: 5px 0 0 5px;
	}
	.previous {
		border-radius: 0 5px 5px 0;
	}
	.fas {
		font-size: 1.2em;
		color: $white;
	}
}

// featured products "more" link

.featured-products {
	.more {
		text-align: center;

		.more-btn {
			@extend .btn-style;
			width: 50vw;
			margin-top: 15px;
			box-shadow: $button-box-shadow;
		}
	}
}

// Search button

header {
	form {
		button {
			border: 3px solid $dark-brown;
			border-style: dotted;
			background: url("/images/brown-leather.png");
			color: $beige-text;
			border-radius: 0 5px 5px 0;
		}
	}
	.search-icon {
		background: none;
		border: none;
	}
	.fas {
		color: $secondary-brown;
		font-size: 1.3em;
	}
}

// newsletter submit button
.newsletter {
	input[type="submit"] {
		@extend .form-btn;

		border-radius: 0 5px 5px 0;
	}
}

// buy button

.product-detail-container {
	.buy-btn {
		@extend .btn-style;
		transform: translateY(-15%);
		font-size: 1em;
		text-transform: uppercase;
		width: 150px;

		.fa-cart-plus {
			margin-left: 5px;
		}
	}
}

// login-btn

.login-btn {
	@extend .form-btn;
	margin-top: 25px;
	width: 100%;
	border-radius: 5px;
	box-shadow: $button-box-shadow;
}

// log-out button

.log-out-btn {
	width: 90%;
	max-width: 250px;
	margin: 0 auto;
	display: none;
	font-size: 1.2em;
	border: 1px dotted $secondary-brown;
	text-decoration: none;
	color: $secondary-brown;
	background: none;
	padding: 7.5px;
	display: block;
	font-family: $secondary-heading-font;
	font-weight: 100;
	margin-bottom: 40px;
	margin-top: 35px;
	box-shadow: $box-shadow;
}

@media (min-width: 992px) {
	// log-out button

	.log-out-btn {
		width: 100px;
		margin: 0 auto;
		display: none;
		font-size: 1.2em;
		border: 1px dotted $secondary-brown;
		text-decoration: none;
		color: $secondary-brown;
		background: none;
		padding: 5px;
		font-family: $secondary-heading-font;
		font-weight: 100;
		margin-bottom: 0;
		margin-top: 0;
		box-shadow: none;
	}
}
