.btn-style {
	border: $button-border;
	border-width: 2px;
	text-align: center;
	border-radius: 30px;
	background: url("/images/brown-leather.png");
	text-decoration: none;
	color: $beige-text;
	padding: 12px;
	display: block;
	margin: 0 auto;
	font-family: $primary-heading-font;
	font-weight: 100;
	max-width: 350px;
}

.form-btn {
	background: url("/images/brown-leather.png");
	font-family: $primary-heading-font;
	font-weight: 100;
	border: $button-border;
	border-width: 2px;
	padding: 10px;
	color: $beige-text;
	font-size: 1em;
}
.btn-hover {
	background: url("/images/beige-leather.png");
	color: $dark-brown;
}
.btn-active {
	border-style: inset;
}

.hero-background {
	.shop-btn {
		@extend .btn-style;
		width: 50vw;
		max-width: 300px;
		box-shadow: 0px 7.5px 15px #000;
	}
	.shop-btn:hover {
		@extend .btn-hover;
	}
	.shop-btn:active {
		@extend .btn-active;
	}
}

// carousel button
.carousel-nav {
	.next,
	.previous {
		border: none;
		background-color: $primary-brown;
		opacity: 0.8;
		padding: 35px 10px;
	}
	.next {
		border-radius: 5px 0 0 5px;
	}
	.previous {
		border-radius: 0 5px 5px 0;
	}
	.fas {
		font-size: 1.2em;
		color: $white;
	}
}

// featured products "more" link

.featured-products {
	.more {
		text-align: center;

		.more-btn {
			@extend .btn-style;
			width: 50vw;
			margin-top: 15px;
			box-shadow: $button-box-shadow;
		}
		.more-btn:hover {
			@extend .btn-hover;
		}
		.more-btn:active {
			@extend .btn-active;
		}
	}
}

// Search button

header {
	form {
		button {
			border: 3px solid $dark-brown;
			border-style: dotted;
			background: url("/images/brown-leather.png");
			color: $beige-text;
			border-radius: 0 5px 5px 0;
		}
		button:hover {
			@extend .btn-hover;
		}
		button:active {
			@extend .btn-active;
		}
	}
	.search-icon {
		background: none;
		border: none;
	}
	.fas {
		color: $secondary-brown;
		font-size: 1.3em;
	}
}

// newsletter submit button
.newsletter {
	input[type="submit"] {
		@extend .form-btn;

		border-radius: 0 5px 5px 0;
	}
}

// buy button

.product-detail-container {
	.buy-btn {
		@extend .btn-style;
		transform: translateY(-10%);
		font-size: 0.8em;
		text-transform: uppercase;
		width: 150px;
		margin-right: 0;

		.fa-cart-plus {
			font-size: 1em;
			margin-left: 5px;
		}
	}
	.buy-btn:hover {
		@extend .btn-hover;
	}
	.buy-btn:active {
		@extend .btn-active;
	}
}

// cart-btn

.cart-info {
	position: relative;
	.remove-btn {
		background: none;
		border: none;
		position: absolute;
		bottom: 0;
		right: 0;
		color: rgb(114, 114, 114);
		font-size: 1em;
	}
}

// admin buttons

// login-btn

.login-btn,
.add-btn {
	@extend .form-btn;
	margin-top: 25px;
	width: 100%;
	border-radius: 5px;
	box-shadow: $button-box-shadow;
}

.login-btn:hover,
.add-btn:hover {
	@extend .btn-hover;
}
.login-btn:active,
.add-btn:active {
	@extend .btn-active;
}

// log-out button

.log-out-btn {
	width: 90%;
	max-width: 250px;
	margin: 0 auto;
	display: none;
	font-size: 1.2em;
	border: 1px dotted $secondary-brown;
	text-decoration: none;
	color: $secondary-brown;
	background: none;
	padding: 7.5px;
	font-family: $secondary-heading-font;
	font-weight: 100;
	margin-bottom: 40px;
	margin-top: 35px;
	box-shadow: $box-shadow;

	.fa-sign-out-alt {
		display: none;
	}
}

.edit-link,
.delete-btn {
	font-family: $primary-heading-font;
	font-size: 0.8em;
	border: $button-border;
	border-width: 2px;
	text-align: center;
	border-radius: 5px;
	background: url("/images/brown-leather.png");
	text-decoration: none;
	color: $beige-text;
	padding: 5px;
	width: 80%;
	margin: 0 auto;
}

.edit-link:hover,
.delete-btn:hover {
	@extend .btn-hover;
}

@media (min-width: 992px) {
	// log-out button

	.log-out-btn {
		width: 75px;
		margin: 0 auto;
		font-size: 1.2em;
		border: none;
		padding: 0;
		box-shadow: none;
		margin-top: 12px;
		@include dotted-border(1px, dotted, $white);

		&:hover {
			@include dotted-border(1px, dotted, $secondary-brown);
		}

		.fa-sign-out-alt {
			display: inline-block;
			color: $green;
			font-size: 0.9em;
			margin-left: 5px;
		}
	}
}
