// index featured products carousel
////////////////////////////////////////////
.featured-products {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	margin-left: 10%;
	margin-top: 40px;
	margin-bottom: 75px;
	position: relative;

	.carousel {
		display: inline-flex;
		transition: all 0.3s;
		position: relative;
	}
	.carousel-nav {
		display: flex;
		justify-content: space-between;
		.next,
		.previous {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		.next {
			right: 10%;
		}
		.previous {
			left: 0;
		}
	}
	.carousel-inner {
		overflow: hidden;
	}
	.card-container {
		min-height: 225px;
		max-height: 250px;
		padding-right: 15px;
		box-sizing: border-box;
		margin-left: 10px;
		margin-bottom: 35px;

		.card {
			width: 100%;
			max-width: 150px;
			height: 100%;
			max-height: 250px;
			box-sizing: border-box;
			border: none;
			border-radius: 5px;
			box-shadow: $box-shadow;
			margin-top: 10px;
			margin-bottom: 10px;
			position: relative;

			.buy-info {
				display: flex;
				justify-content: space-between;
			}
			.card-info {
				width: 85%;
				padding-top: 10px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
			}
			.card-img-top {
				height: 60%;
				object-fit: cover;
			}
			.card-body {
				height: 40%;
			}
		}
	}
	.hide {
		display: none;
	}
	.show {
		display: inline-block;
	}
}

// product detail page carousel
////////////////////////////////////////

.product-detail-container {
	.carousel-item {
		max-height: 50vh;
		width: 100%;
		img {
			max-height: 50vh;
			width: 100%;
		}
	}
}
