// index featured products carousel
////////////////////////////////////////////

.featured-products {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 35px;
	position: relative;

	.container {
		max-width: 1200px;
		padding: 0;
	}

	.carousel {
		display: inline-flex;
		transition: all 0.3s;
		position: relative;
	}
	.carousel-nav {
		display: flex;
		justify-content: space-between;
		.next,
		.previous {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
		.next {
			right: 0;
		}
		.previous {
			left: 0;
		}
	}
	.carousel-inner {
		overflow: hidden;
	}
	.card-container {
		width: 99.9vw;
		min-width: 175px;
		min-height: 225px;
		max-height: 285px;
		box-sizing: border-box;
		margin-bottom: 25px;
		align-content: center;

		.card {
			width: 85%;
			max-width: 275px;
			height: 275px;
			box-sizing: border-box;
			border: none;
			border-radius: 0;
			box-shadow: $box-shadow;
			margin-top: 10px;
			margin-bottom: 10px;
			position: relative;
			margin: 0 auto;

			.buy-info {
				display: flex;
				justify-content: space-between;
			}
			.card-info {
				width: 90%;
				padding-top: 10px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
			}
			.card-img-top {
				height: 60%;
				object-fit: cover;
			}
			.card-body {
				height: 40%;
				position: relative;
			}
			.price {
				padding: 5px;
				border: $price-border;
			}
			.price-flex-container {
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
			}
			.fa-shopping-bag {
				transform: translateY(25%);
				font-size: 1em;
				color: $primary-brown;
			}
		}
	}
	.hide {
		display: none;
	}
	.show {
		display: inline-block;
	}
}

// product detail page carousel
////////////////////////////////////////

.product-detail-container {
	.carousel-inner {
		background-color: $light-beige;
	}

	.carousel-item {
		height: 40vh;

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	.carousel-indicators {
		margin-bottom: 5px;
		z-index: 1;
		button {
			background-color: $non-active-btn-colour;
			width: 25px;
			height: 25px;
			border-radius: 50%;
		}
		.active {
			background-color: #734021;
		}
	}
	.carousel-control-next,
	.carousel-control-prev {
		background: $secondary-brown;
		color: $white;
		opacity: 0.6;
		top: 30%;
		bottom: 30%;
		width: 7.5%;
	}
}

@media (min-width: 450px) {
	.featured-products {
		.card-container {
			width: 49.99vw;
		}
	}
	// product detail page carousel
	////////////////////////////////////////

	.product-detail-container {
		.carousel-item {
			height: 45vh;
		}
	}
}
@media (min-width: 600px) {
	.featured-products {
		.card-container {
			width: 33.3vw;
		}
	}
}

@media (min-width: 900px) {
	.featured-products {
		width: 90%;
		.card-container {
			width: 22.48vw;
			max-width: 299px;
		}
	}
}
// @media (min-width: 1200px) {
// 	.featured-products {
// 		// width: 100%;
// 		.card-container {
// 			width: 24.99vw;
// 			max-width: 299.99px;
// 		}
// 	}
// }
