footer {
	.footer-logo {
		width: 50px;
		height: auto;
	}
	.wrapper {
		display: flex;
		justify-content: space-evenly;
		padding-top: 50px;
	}
	.copyright {
		text-align: center;
	}
	.social-media {
		text-align: center;
	}
}
