footer {
	background: linear-gradient(
		180deg,
		rgba(168, 89, 46, 1) 0%,
		rgba(115, 64, 33, 1) 50%,
		rgba(64, 33, 15, 1) 100%
	);
	color: $white;
	.footer-logo {
		width: 50px;
		height: auto;
	}
	.wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		padding-top: 50px;
		width: 90%;
		margin: 0 auto;
	}
	.copyright {
		text-align: center;
	}
	.social-media {
		text-align: center;
	}

	ul {
		padding-left: 0;
	}
	.about {
		max-width: 500px;
	}
}
