header {
	.search-bar {
		display: none;
	}
	form {
		display: flex;
		flex: 0 0 100%;
		order: 4;
		position: absolute;
		top: 10vh;
		left: 5%;
		right: 5%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.253);
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 5px;
	}
	input[type="search"] {
		padding: 7.5px 5px;
		margin: 0 auto;
	}
}

// add product form

.add-product,
.edit-product {
	form {
		width: 90%;
		margin: 0 auto;
	}
	label,
	input {
		display: block;
	}
}

.newsletter {
	form {
		display: flex;
	}
	input[type="email"] {
		padding: 10px;
		border-left: 2px dotted $secondary-brown;
		border-top: 2px dotted $secondary-brown;
		border-bottom: 2px dotted $secondary-brown;
		border-right: none;
		border-width: 2px;
		border-radius: 5px 0 0 5px;
	}
}

@media (min-width: 992px) {
	header {
		.search-bar {
			display: block;
		}
		form {
			flex: none;
			position: static;
			background-color: none;
			padding-top: 0;
			padding-bottom: 0;
			border-radius: 5px;
			background-color: none;
		}
		input[type="search"] {
			padding: 7.5px 5px;
			margin: 0 auto;
		}
	}
}
