header {
	// .search-bar {
	// 	display: none;
	// }
	form {
		flex: 0 0 100%;
		order: 4;
		position: absolute;
		top: 10vh;
		left: 5%;
		right: 5%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.253);
		padding-top: 20px;
		padding-bottom: 20px;
		border-radius: 5px;
	}
	input[type="search"] {
		padding: 7.5px 5px;
		margin: 0 auto;
	}
}

// add product form

.add-product {
	form {
		width: 90%;
		margin: 0 auto;
	}
	label,
	input {
		display: block;
	}
}
