header {
	.search-bar {
		display: none;
	}
	form {
		width: 100%;
		height: 25vh;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		padding-top: 25px;
		padding-bottom: 20px;
		background-color: rgba(255, 255, 255, 0.5);
	}
	input {
		display: block;
		width: 90%;
		max-width: 300px;
		margin: 0 auto;
		border: $button-border;
		align-self: center;
	}
	input[type="search"] {
		padding: 7.5px 5px;
	}
	.fa-times {
		cursor: pointer;
		position: absolute;
		top: 5%;
		right: 5%;
		font-size: 1.2em;
		color: $dark-brown;
	}
	.search-results {
		width: 90%;
		max-width: 300px;
		margin: 0 auto;
		padding-top: 25px;
		position: relative;
		background-color: $white;
		z-index: 10;
		max-height: 50vh;
		overflow: scroll;
		li {
			width: 90%;
			padding: 10px;
		}
	}

	// .search-results
}

.form-input {
	padding: 7.5px;
}

// add product form

.add-product,
.edit-product,
.delete-product {
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;

	fieldset {
		width: 85%;
		margin: 0 auto;
		max-width: 300px;
	}

	input,
	textarea {
		width: 100%;
	}
	label,
	input,
	textarea {
		display: block;
	}
	.product-featured {
		display: block;
	}
}

.newsletter {
	form {
		display: flex;
	}
	input[type="email"] {
		@extend .form-input;
		border-left: 2px dotted $secondary-brown;
		border-top: 2px dotted $secondary-brown;
		border-bottom: 2px dotted $secondary-brown;
		border-right: none;
		border-width: 2px;
		border-radius: 5px 0 0 5px;
	}
}
// forms
.form-wrapper {
	background: $beige-linear-gradient;

	.login-form {
		width: 100%;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 50px;

		fieldset {
			width: 85%;
			max-width: 400px;

			margin: 0 auto;
			padding: 10px;
			border-radius: 5px;
		}
		label,
		input {
			display: block;
			width: 100%;
		}
		input {
			@extend .form-input;
			border: 2px dotted $secondary-brown;
		}
		label {
			margin-bottom: 5px;
		}
	}
}

// products.html search form

@media (min-width: 992px) {
	header {
		.search-bar {
			display: block;
		}
		form {
			flex: none;
			position: static;
			background-color: none;
			padding-top: 0;
			padding-bottom: 0;
			border-radius: 5px;
			background-color: none;
		}
		input[type="search"] {
			padding: 7.5px 5px;
			margin: 0 auto;
		}
	}
}
