.newsletter {
	display: flex;
	background-color: $orange-beige;
	flex-direction: column;
	padding-top: 25px;
	max-width: 1200px;
	margin: 0 auto;

	.newsletter__form {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 35px;
	}

	.newsletter__img {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		min-height: 150px;
		margin-bottom: 0px;

		.news-img,
		.sale-img,
		.vip-img {
			background-size: cover;
			position: relative;
		}

		.news-img {
			background-image: url("/images/green-shoe.jpg");
			background-position: bottom;
		}
		.sale-img {
			background-image: url("/images/sale-img.jpg");
		}
		.vip-img {
			background-image: url("/images/special-offer.jpg");
		}
	}
	ul {
		padding-left: 0;
	}
}

@media (min-width: 450px) {
	.newsletter {
		.newsletter__form {
			width: 75%;
		}

		.newsletter__img {
			min-height: 200px;
		}
	}
}

@media (min-width: 900px) {
	.newsletter {
		flex-flow: row nowrap;
		justify-content: space-between;
		padding-top: 0;

		.newsletter__form {
			width: auto;
			margin-left: 3%;
			padding-bottom: 50px;
			padding-top: 25px;
		}

		.newsletter__img {
			display: flex;
			flex-direction: row;
			width: 55vw;

			.news-img,
			.sale-img,
			.vip-img {
				width: 100%;
				height: 100%;
			}

			.sale-img {
				background-position: left;
			}
		}
	}
}

@media (min-width: 1200px) {
	.newsletter {
		flex-flow: row nowrap;
		justify-content: space-between;
		padding-top: 0;

		.newsletter__form {
			margin-left: 5%;
			padding-bottom: 50px;
			padding-top: 25px;
			align-self: center;
		}

		.newsletter__img {
			width: 50vw;

			.news-img,
			.sale-img,
			.vip-img {
				width: 100%;
				height: 100%;
			}

			.sale-img {
				background-position: left;
			}
		}
	}
}
