.newsletter {
	display: flex;
	flex-direction: column;
	padding-top: 25px;

	.newsletter__form {
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 25px;
		background-color: $orange-beige;
	}

	.newsletter__img {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		min-height: 150px;
		margin-bottom: 0px;

		.news-img,
		.sale-img,
		.vip-img {
			background-size: cover;
			position: relative;
		}

		.news-img {
			background-image: url("/images/green-shoe.jpg");
			background-position: bottom;
		}
		.sale-img {
			background-image: url("/images/sale-img.jpg");
		}
		.vip-img {
			background-image: url("/images/special-offer.jpg");
		}
	}
}
