.product-detail-container {
	.text-bg {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background: $beige-linear-gradient;
			clip-path: polygon(100% 0, 0% 100%, 100% 100%);
		}
	}
	.details-text {
		width: 85%;
		margin: 0 auto;
		position: relative;
		z-index: 1;

		.price-flex-container {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			margin-top: 35px;
			align-items: baseline;
			justify-content: center;
		}
	}
}
