body {
	font-family: $primary-font;
	color: $text-colour;
}
.logo {
	width: 50px;
	height: auto;
}

h1 {
	font-family: $primary-heading-font;
	font-weight: 500;
}

.price {
	font-family: $secondary-heading-font;
}

// index hero-section
.hero-text {
	text-align: center;
	max-width: 80vw;
	margin: 0 auto;
	position: relative;
	z-index: 1;

	a {
		font-size: 1em;
	}
	h1,
	p {
		color: $beige-text;
		max-width: 300px;
		margin: 0 auto;
	}
	h1 {
		padding-top: 50px;
		font-size: 2.5em;
		border-bottom: 1px dashed $beige-text;
	}
	p {
		padding-bottom: 20px;
		margin-top: 10px;
		font-size: 1.2em;
	}
}

// featured carousel

.featured-products {
	a {
		text-decoration: none;
		color: $text-colour;
		font-size: 1em;
		// line-height: 100%;
	}
	h2 {
		font-family: $primary-heading-font;
		margin-left: 7.5%;
		color: $secondary-brown;
	}
	.product-brand {
		font-family: $primary-heading-font;
		font-size: 0.9em;
		margin-bottom: 0;
		text-align: center;
	}
	h3 {
		font-family: $secondary-heading-font;
		font-size: 1.2em;
		text-align: center;
	}

	p {
		font-weight: 600;
		padding: 0;
		.price {
			font-size: 1em;
			text-align: center;
		}
	}
	.fas {
		color: $text-colour;
		font-size: 0.9em;
	}
	.more-link {
		font-family: $secondary-heading-font;
		font-size: 1.2em;
	}
}
// customer reviews

// .reviews {
// 	h3 {
// 		font-family: $primary-heading-font;
// 		width: 90%;
// 		margin: 0 auto;
// 		margin-bottom: 15px;
// 	}
// }

// Newsletter section

.newsletter {
	h4 {
		font-family: $primary-heading-font;
		padding-top: 25px;
		font-size: 1.5em;
	}
	.news-img-text {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%);
		background-color: $red;
		padding: 10px 20px;
		border-radius: 30px;
		color: $white;
	}
	li {
		list-style-type: none;
		margin-bottom: 10px;
		font-family: $secondary-heading-font;
		font-size: 1.5em;

		&::before {
			content: "- ";
		}
	}
	input[type="submit"] {
		color: $light-beige;
	}
}

// Breadcrumb navigation

// products page

.product-section {
	.card-title {
		font-family: $secondary-heading-font;
		font-size: 1.1em;
		text-align: center;
		flex-grow: 1;
	}
	.brand-name {
		text-align: center;
		margin-bottom: 0;
		font-family: $primary-heading-font;
	}
	a {
		text-decoration: none;
		color: $primary-brown;
	}
}

// product detail page
///////////////////////////////

.product-detail-container {
	.details-text {
		max-width: 60ch;
		padding-top: 25px;
		padding-bottom: 35px;

		.detail-brand-name,
		.price,
		h1 {
			color: $brown-text;
		}

		h1 {
			font-family: $secondary-heading-font;
			font-size: 2em;
			margin-bottom: 25px;
		}

		.detail-brand-name {
			font-family: $primary-heading-font;
			margin-bottom: 0;
			font-size: 1em;
		}
		.price {
			font-size: 1.3em;
			border: 3px dotted $dark-brown;
			border-width: 2px;
			padding: 5px 10px;
		}
		.product-description {
			line-height: 150%;
			font-weight: 100;
		}
	}
}

// Footer

footer {
	ul {
		text-decoration: none;
	}
	li {
		list-style-type: none;
	}
	a {
		color: text;
	}
}

// MEDIA QUERIES
//////////////////////////////////

@media (min-width: 700px) {
	//  header
	.logo {
		width: 75px;
	}
	// index hero-section
	.hero-text {
		a {
			font-size: 1.2em;
		}
		h1 {
			padding-top: 75px;
			font-size: 3em;
		}
		p {
			padding-bottom: 20px;
			font-size: 1.5em;
		}
	}

	// Newsletter section

	.newsletter {
		h4 {
			font-size: 1.8em;
		}
		.news-img-text {
			font-size: 1.2em;
		}
		li {
			font-size: 1.7em;
		}
	}
}

@media (min-width: 1200px) {
	//  header
	.logo {
		width: 85px;
	}
	// index hero-section
	.hero-text {
		a {
			font-size: 1.4em;
		}
		h1,
		p {
			max-width: 400px;
		}
		h1 {
			padding-top: 75px;
			font-size: 4em;
		}
		p {
			padding-bottom: 20px;
			font-size: 2em;
		}
	}
}
