$primary-brown: #a8592e;
$secondary-brown: #734021;
$dark-brown: #40210f;
$orange-beige: #efb07b;
$light-beige: #ffddbe;
$green: #828c5e;
$red: #9f1d1a;
$white: #fff;
$black: #000;
$text-colour: #404040;
$brown-text: #6f310d;
$beige-text: #ffead6;

@mixin dotted-border($px, $type, $color) {
	border-bottom: $px $type $color;
}

@mixin font-size(
	$min-size,
	$max-size,
	$viewport-width,
	$min-viewport-width,
	$max-viewport-width
) {
	font-size: calc(
		$min-size + ($max-size - $min-size) *
			(
				($viewport-width - $min-viewport-width) /
					($max-viewport-width- $min-viewport-width)
			)
	);
}

$beige-linear-gradient: linear-gradient(
	180deg,
	rgba(255, 221, 190, 0.8967787798713235) 0%,
	rgba(239, 193, 154, 1) 50%,
	rgba(239, 176, 123, 1) 100%
);

$non-active-btn-colour: #734021f1;

$primary-font: "corporate-a", serif;
$primary-heading-font: "copperplate", serif;
$secondary-heading-font: "corporate-a-condensed", serif;
$accent-font: "copperplate-condensed", serif;

$box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
$button-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
$button-border: 3px dotted $dark-brown;

$price-border: 1px dotted $dark-brown;
