$primary-brown: #a8592e;
$secondary-brown: #734021;
$dark-brown: #40210f;
$orange-beige: #efb07b;
$light-beige: #ffddbe;
$green: #828c5e;
$red: #9f1d1a;
$white: #fff;
$black: #000;
$text-colour: #404040;
$brown-text: #6f310d;

$primary-font: "corporate-a", serif;
$primary-heading-font: "copperplate", serif;
$secondary-heading-font: "corporate-a-condensed", serif;
$accent-font: "copperplate-condensed", serif;

$box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
